<div class='col-md-3'>
  <%= render 'shared/profile', user: @user %>
  <%= render 'shared/form', book: @book %>
</div>
<div class="col-md-8 offset-md-1">
  <% if @users.exists? %>
    <%= render 'shared/table_head' %>
    <% @users.each do |user| %>
      <tr>
        <%= render 'shared/prof_table', user:user%>
        <%= render 'relationships/table', user:user%>
      </tr>
    <% end %>
    <%= render 'shared/table_under'%>
  <% else %>
    <p>・ユーザーはいません</p>
  <% end %>
</div>
