<h2>投稿数の前日比・前週比</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>昨日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <td><%= today_book.count %></td>
    <td><%= yesterday_book.count %></td>
    <td><%= number_to_percentage(day_conparison) %></td>
  </tbody>
</table>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>先週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <td><%= this_week_book.count %></td>
    <td><%= last_week_book.count %></td>
    <td><%= number_to_percentage(week_conparison)%></td>
  </tbody>
</table>

<h2>過去7日間の投稿数</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>6日前</th>
      <th>5日前</th>
      <th>4日前</th>
      <th>3日前</th>
      <th>2日前</th>
      <th>1日前</th>
      <th>今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% week_books.each_with_index do |week_book,i| %>
      <td>
        <%= "#{i}: #{week_book[0]}" %>
        <%= week_book[1] %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>
