<% change_submit_text %>
<h2 class="mt-3"><%= change_form_title %></h2>
<%= form_with model:book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category, Book.categories_i18n.invert.to_a,{include_blank: '選択してください' }, {class: 'form-control book_category w-75', required: true} %>
  </div>

  <% if book.id == nil %>
    <div id="star" class="form-group mb-0">
      <%= f.label :score, class: "align-bottom mb-0" %><br>
      <%= f.hidden_field :score, class: 'form-control', id: :review_star %>
    </div>
    <div id="score_star" class="mt-0"></div>
    <script>
    $(document).on('turbolinks:load', function(){
      let elem = document.querySelector('#score_star');
      let opt = {
        //星画像の指定などのオプションをここに記述
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'book[score]'
        };
      raty(elem,opt);
    });
    </script>
  <% else %>
    <%= render "shared/score", book: book %>
  <% end %>
  <div class="form-group mt-2">
    <%= f.submit "#{@btn_text}", class: 'btn btn-success' %>
  </div>
<% end %>
