<h2 class="mt-3">User info</h2>
<table class='table'>
  <tr><%= image_tag user.image_resize(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr id="follower_cnt">
	  <%= render 'relationships/follower', user:user %>
  </tr>
  <tr id="followed_cnt">
	  <%= render 'relationships/followed', user:user %>
  </tr>
</table>

<div class='row' id="cong_btn">
  <%= render 'shared/profile_btn', user: user %>
</div>
