<td>
  <%= link_to user_path(book.id)  do %>
    <%= image_tag book.user.image_resize(50,50) %>
    <br><span class="hidden"><%= book.user.name  %></span>
  <% end %>
</td>
<td><%= link_to book.title, book_path(book.id) %></td>
<td><%= book.body%></td>
<td id="show_score<%= book.id%>"></td>
<script>
  $(document).on('turbolinks:load', function(){
    let elem<%= book.id%> = document.querySelector('#show_score<%= book.id%>');
    let opt<%= book.id%> = {
      readOnly: true,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: "<%= asset_path('star-half.png') %>",
      score: '<%= book.score%>'
    };
    raty(elem<%= book.id%>,opt<%= book.id%>);
  });
  </script>
